<div class="container">
  <h1>Edit your blog post</h1>

  <%= form_for @blog  do |f| %>

    <div>
      <%= f.label :title %>
      <%= f.text_field :title %><em><%= @blog.errors[:title].join(", ") %></em>
    </div>

    <div class="body-text">
      <%= f.label :body %>
      <%= f.text_field :body %><em><%= @blog.errors[:body].join(", ") %></em>
    </div>

    <div>
      <%= f.submit %> or <%= link_to 'Delete', "/blogs/#{@blog.id}", method: :delete, data: {confirm: "Are you sure?"} %>
    </div>

  <% end %>
  <%= link_to root_path do %>
    <button type="button" class="btn btn-default btn-md">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
    </button>
  <% end %>
</div>
